.app {
  border: solid 2px #000;
  background: #000; }

.app:focus {
  border: solid 2px #0f0;
  outline: none; }

.app-title {
  color: #f1f1f1;
  font-family: Consolas;
  text-align: center; }

.app-canvas {
  display: block; }

